body {
  text-align: center;
}

h1 {
  color: $white;
  font: $h1-size $header-font;
  margin: 0;
}

h2 {
  font: $h2-size $header-font;
}

h3 {
  font: $h3-size $header-font;
  margin-top: 0;
  margin-bottom: .7em;
}

ul {
  margin: 0;
}

p {
  font-size: 1em;
}
