.navigation {
  @include padding(1em 0);
  @media screen and (min-width: $breakpoint-tablet) {
    padding: 1.5em;
    float: right;
  }

  li {
    display: inline;
    @include padding(.5em);
    @media screen and (min-width: $breakpoint-tablet) {
      display: inline;
      @include padding(1em);
    }
    @media screen and (min-width: $breakpoint-desktop) {
      @include padding(1.5em);
    }
  }
}

.navFooterColor {
  background-color: $dark-gray;
}

.navLinks {
  transition: color .25s ease;
  color: $white;
  @include padding(1em 0);
}

.titleLink {
  list-style: none;
  @include padding(1em 0);
  @media screen and (min-width: $breakpoint-tablet) {
    float: left;
    @include padding(1em 0 1em 1em);
  }
}

.title {
  font: $h2-size $header-font;
  display: inline;
  @media screen and (min-width: $breakpoint-tablet) {
    padding-left: 1em;
  }
}

// Header

.headerBackground {
  background-image: url("../img/greyPattern.png");
  @include padding(5em 1em);
  @media screen and (min-width: $breakpoint-tablet) {
    @include padding(10em 4em);
  }
  @media screen and (min-width: $breakpoint-desktop) {
    @include padding(10em);
  }
}

.description {
  color: $medium-gray;
  margin: 1em;
  @media screen and (min-width: $breakpoint-tablet) {
    margin: 1em;
  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin: 1.5em 12em;
  }
}
