/*Project Tile styles*/

.projectTiles {
  padding: 0;

  li {
    display: inline-block;
    @include padding(.5em .5em);
  }

  h3 {
    @include padding(.7em 0 0 0);
  }

  p {
    font-size: .9em;
  }
}

.caption {
  width: 300px;
  height: 100%;
  background-color: #DEDEDE;
}
